﻿@inject NavigationManager UriHelper
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" Authorizing=@GetSpin()>
                <NotAuthorized>
                    @{ UriHelper.NavigateTo("/login", true);}
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<AntContainer />

@code{

    public RenderFragment GetSpin()
    {
        return @<div class="row justify-content-center align-items-center w-100 h-100"><Spin/></div>;
    }

}
