@namespace AntDesign

@using Microsoft.Extensions.Options
@inherits FeedbackComponent<DrawerModelOptions, DrawerModelResult>

<div>
    <div class="row">
        <div class="col-sm-12 d-flex">
            <div class="col-sm-4">
                <Card>
                    <Statistic Title="Total TP Hours" Value="@TotalHours" ValueStyle="color: black" Suffix="h">
                    </Statistic>
                </Card>
            </div>
            <div class="col-sm-4">
                <Card>
                    <Statistic Title="Works hours" Value="@GetTotalWorkingHours()" ValueStyle="color: red" Suffix="h">
                    </Statistic>
                </Card>
            </div>
            <div class="col-sm-4">
                <Card>
                    <Statistic Title="Different" Value="@(Different)" ValueStyle="color: blue" Suffix="h">
                    </Statistic>
                </Card>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>We found @options.Vocation.Count days without any time record.</h4>
            @foreach (var day in Options.Vocation)
            {
                <div class="m-1">
                    <Checkbox @bind-Checked=@day.IsVocation>
                        @day.Date.ToString("dd.MM.yyyy") - @GetVocationText(day.IsVocation)
                    </Checkbox>
                </div>
            }
        </div>
    </div>
    <br/>
    <br/>
    <Button Type="primary" OnClick="OnClose">Save</Button>
</div>

@code{

    DrawerModelOptions options;

    double TotalHours => Options.Times.Sum(x => x.Hours);
    double Different { get; set; }

    protected override void OnInitialized()
    {
        options = base.Options;
        base.OnInitialized();
    }

    async void OnClose()
    {
        DrawerRef<DrawerModelResult> drawerRef = base.FeedbackRef as DrawerRef<DrawerModelResult>;
        await drawerRef!.CloseAsync( new DrawerModelResult(Options.Vocation, Different));
    }

    private RenderFragment GetVocationText(bool vocation)
    {
        if (vocation)
        {
            return @<span style="color: #1e7e34">Vocation</span>;
        }

        return @<span style="color: darkgoldenrod">Normal work day</span>;
    }

    private double GetTotalWorkingHours()
    {
        var result = Options.WorkDays.Count(x => options.Vocation.Any(v => v.IsVocation && x.Date == v.Date) is false) * 8;
        Different = TotalHours - result;
        return result;
    }
}