.loading {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.button-menu{
    align-items: center;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 768px) {
    .top-time {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.837rem;
        justify-content: center;
        width: 100%;
        margin-top: 0.5rem;
    }

    .date-picker:nth-child(n){
        display: contents;
        width: 100%!important;
    }
    
    .mobile-full {
        width: 100% !important;
    }
    
    .full-mobile-button {
        display: contents;
        width: 100% !important;
    }

    .top-row:nth-child(n){
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .button-menu{
        display: inline-flex;
        gap: 0.875rem;
        flex-direction: column;
        width: 100%;
    }

    .hours{
        gap: 0.875rem
    }

    .button-item{
        display: grid;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .top-time{
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        margin-bottom: 0.837rem;
    }

    .top-row:nth-child(n){
        min-width: 50%;
        display: flex;
        justify-content: space-between;
    }
    
    .hours{
        display: inline-flex;
        gap: 0.875rem
    }
    
    .button-menu{
        display: inline-flex;
        gap: 0.875rem
    }
}
