@page "/Time"

@using BlazorDownloadFile
@using MediatR
@inject NavigationManager _navigationManager;
@inject IMessageService _message
@inject IBlazorDownloadFileService _blazorDownloadFileService;
@inject HostAuthenticationStateProvider _HostAuthentication;
@inject IRefitClient _RefitClient;
@inject DrawerService DrawerService
@inject IMediator _mediator

<div class="top-time px-3">
    <div class="date-picker">
        <RangePicker Class="mobile-full" TValue="DateTime?[]" Picker="@DatePickerType.Date" OnChange="args => ChangeDateTime(args)"/>
        <Button class="mobile-full mt-2" Type="@ButtonType.Primary" @onclick="LoadTimeSheet">Load TimeSheet</Button>
    </div>
    <div class="mobile-full full-mobile-button">
        <Button OnClick="Drawer" class="mt-2" Type="primary" Disabled="@(TimeList is null or { Count: 0 })">Statistic</Button>
    </div>
</div>
<div class="top-row px-3">
    <div class="hours">
        <div>
            <Card>
                <Statistic Title="Total TP Hours" Value="@TotalHours" ValueStyle="@(GetColor(IsOverTime))" Suffix="h">
                    <PrefixTemplate>
                        <span>
                            @GetArrow(IsOverTime)
                        </span>
                    </PrefixTemplate>
                </Statistic>
            </Card>
        </div>
        <div>
            <Card>
                <Statistic Title="Works hours" Value="@WorkingDaysHours" ValueStyle="@(GetColor(!IsOverTime))" Suffix="h">
                    <PrefixTemplate>
                        <span>
                            @GetArrow(!IsOverTime)
                        </span>
                    </PrefixTemplate>
                </Statistic>
            </Card>
        </div>
    </div>
    <div class="button-menu">

        <div class="button-item">
            <Checkbox @bind-Checked="WholeHours">
                Split additional hours by whole hour
            </Checkbox>
        </div>
         <div class="button-item"><AntDesign.InputNumber @bind-Value="@AdditionalHours" Class="mobile-full"/></div>
        <div class="button-item"><Button Type="@ButtonType.Primary" @onclick="CorrectHours" Class="mobile-full">Correct hours</Button></div>
        <div class="button-item"> <Button Type="@ButtonType.Primary" @onclick="GenerateTimesheet" Class="mobile-full">Generate Timesheet</Button></div>

    </div>
</div>
<div class="container mt-3">
    @if (IsLoading)
    {
        <Skeleton Active="true" ParagraphRows="10"></Skeleton>
    }
    else
    {
        <Table TItem="TimeShitApp.Share.Time" DataSource="@TimeList" PageSize="500" HidePagination RowClassName="@(_ => "editable-row")" Size=@TableSize.Small>
            <PropertyColumn Property="c => c.Date">
                <a>@context.Date.ToString("dd.MM.yyy")</a>
            </PropertyColumn>
            <PropertyColumn Property="c => c.Hours">
                @if (EditId == context.Id)
                {
                    <Input Type="text" @bind-Value="context.Hours" OnBlur="StopEdit" AutoFocus/>
                }
                else
                {
                    <div class="editable-cell-value-wrap" style="padding-right:24px" @onclick="() => StartEdit(context.Id)">
                        @context.Hours
                    </div>
                }
            </PropertyColumn>
            <PropertyColumn Property="c => c.Task">
                @if (string.IsNullOrEmpty(context.Description))
                {
                    @context.Task
                }
                else
                {
                    @context.Description
                }
            </PropertyColumn>
            <PropertyColumn Property="c => c.Project">
            </PropertyColumn>
            <ActionColumn Title="Action">
                <Popconfirm Title="Sure to delete?"
                            OnConfirm="() => DeleteRow(context.Id)"
                            OkText="Yes"
                            CancelText="No">
                    <Button Danger>Delete</Button>
                </Popconfirm>
            </ActionColumn>
        </Table>
    }

</div>

@code {
    public DateTime? StartDate { get; set; }
    public DateTime? EndDate { get; set; }
    public IList<TimeShitApp.Share.Time> TimeList { get; set; }
    public Guid? EditId { get; set; }
    public double TotalHours { get; set; }
    public double AdditionalHours { get; set; }
    public bool WholeHours { get; set; }
    public bool IsLoading { get; set; } = false;

    public IList<DateTime> WorkingDays { get; set; } = Array.Empty<DateTime>();
    public int WorkingDaysHours => WorkingDays.Count * 8;
    public IList<DateTime> HolidayDays { get; set; } = Array.Empty<DateTime>();
    public bool IsOverTime => (WorkingDays.Count * 8) < TotalHours;


    private string GetColor(bool isOverTime)
    {
        return isOverTime ? "color: #3f8600" : "color: #cf1322";
    }

    public RenderFragment GetArrow(bool isOverTime)
    {
        if (isOverTime)
        {
            return @<Icon Type="arrow-up"/>;
        }

        return @<Icon Type="arrow-down"/>;
    }

    public async Task GetWorkingDays()
    {
        if (StartDate is not null || EndDate is not null)
        {
            var result = await _mediator.Send(new WorkHoursRequest(StartDate ?? DateTime.Now, EndDate ?? DateTime.Now));

            if (result.IsSuccess)
            {
                WorkingDays = result.Value.WorkDays;
                HolidayDays = result.Value.Holidays;
            }
        }
    }

    void StartEdit(Guid id)
    {
        EditId = id;
    }

    void StopEdit()
    {
        EditId = null;
        ReCalculateTotalHours();
    }

    void DeleteRow(Guid id)
    {
        TimeList = TimeList.Where(d => d.Id != id).ToArray();
        ReCalculateTotalHours();
    }

    void ReCalculateTotalHours()
    {
        TotalHours = TimeList.Sum(d => d.Hours);
    }

    public async Task LoadTimeSheet()
    {
        IsLoading = true;
        var result = await _RefitClient.Times(StartDate, EndDate);

        if (result.IsSuccessStatusCode)
        {
            TimeList = result.Content;
            ReCalculateTotalHours();
            GetWorkingDays();
            IsLoading = false;
            return;
        }

        IsLoading = false;
        await _message.Success("Load timesheet failed");
    }

    async Task CorrectHours()
    {
        var result = await _mediator.Send(new TimeRecalculationRequest(TimeList, AdditionalHours, WholeHours));
        if (result.IsSuccess)
        {
            await _message.Success("Hours corrected");
            TimeList = result.Value.Times;
            ReCalculateTotalHours();

            return;
        }

        await _message.Success("Hours corrected failed");
    }

    async Task GenerateTimesheet()
    {
        var result = await _mediator.Send(new GenerateTimeSheetRequest(TimeList));
        if (result.IsSuccess)
        {
            await _message.Success("Timesheet generated");
            var user = await _HostAuthentication.GetAuthenticationStateAsync();
            var name = user.User.Claims.FirstOrDefault(x => x.Type is ClaimTypes.Name).Value;
            var surname = user.User.Claims.FirstOrDefault(x => x.Type is ClaimTypes.Surname).Value;
            var file = result.Value;
            var fileMame = $"TimeSheet_{TimeList.First().Date.ToString("yyyy_MM")}_{surname}_{name}.xlsx";
            await _blazorDownloadFileService.DownloadFile(fileMame, file.Stream, "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
            return;
        }

        await _message.Success("Timesheet generated failed");
    }

    public void ChangeDateTime(DateRangeChangedEventArgs args)
    {
        StartDate = args.Dates[0];
        EndDate = args.Dates[1];
    }

    protected override async Task OnInitializedAsync()
    {
        var user = await _HostAuthentication.GetAuthenticationStateAsync();
        if (!user.User.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("/login");
        }
    }

    private async Task Drawer()
    {
        if (TimeList is not null or { Count: 0 })
        {
            var validate = await _mediator.Send(new ValidateHoursRequest(WorkingDays, HolidayDays, TimeList));

            var drawerModel = new DrawerModelOptions()
            {
                Holidays = HolidayDays,
                WorkDays = WorkingDays,
                Vocation = validate.Value.VocationsList,
                Times = TimeList
            };

            var result = await DrawerService.CreateDialogAsync<TimeStatisticDrawer, DrawerModelOptions, DrawerModelResult>(drawerModel, title: "Statistics", width: 600);

            if (result is not null)
            {
                WorkingDays = WorkingDays.Where(x => result.Vocation.Any(v => v.IsVocation && x.Date == v.Date) is false).ToList();
                AdditionalHours = result.AdditionalHours < 0 ? result.AdditionalHours * -1 : result.AdditionalHours;
            }
            return;
        }

        _message.Info("Please select a date range");
    }

}