﻿@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase
@inject IRefitClient _regitClient;
@inject NavigationManager NavigationManager;

<Layout Class="layout">
    <PageHeader Class="header-top" Style="padding:0 50px; background-color: #001529;">
        <PageHeaderContent>
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-sm-6">
                    @if (GetRoute() != "/")
                    {
                        <Menu class="menu" Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[] { "1" })>
                            <MenuItem Key="1">Time</MenuItem>
                        </Menu>
                    }
                </div>
                <div class="col-sm-6">
                    <AuthorizeView>
                        <Authorized>
                            @if (@context.User.Identity.IsAuthenticated)
                            {
                                <div class="row justify-content-end d-flex align-items-center">
                                    <div class="mx-2 col-sm-6" style="color: white;text-align: end">@context.User.Claims.First(x => x.Type is ClaimTypes.Email).Value</div>
                                    <div class="mx-2 col-sm-3 justify-content-end">
                                        <Button style="background-color: #f5d742; border-color: #f5d742" @onclick="ButtonClick" Type="@ButtonType.Primary" Icon="@IconType.Outline.Logout">Logout</Button>
                                    </div>
                                </div>
                            }
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>

        </PageHeaderContent>
    </PageHeader>
    <Content Class="content-main">
        <div class="site-layout-content">
            @if (IsLoading)
            {
                <div class="row justify-content-center align-items-center w-100 h-100"><Spin/></div>
            }
            else
            {
                @Body
            }
        </div>
    </Content>
    <Footer></Footer>
</Layout>

<style>

    body {
        background-color: #f0f2f5;
    }

    .menu{
        position: relative;
        top: 0;
    }

    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }

    .ant-page-header-content{
        padding: 0;
        marign-top: 0;
    }

    .ant-page-header-heading{
        padding: 0;
        margin: 0;
    }

    .header-top{
        padding: 0;
        min-height: 46px;
    }
</style>


@code{
        public bool IsLoading { get; set; } = false;
    private async Task ButtonClick(MouseEventArgs args)
    {
        IsLoading = true;
        var result = await _regitClient.Logout();

        if (result.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/login", true);
        }

        await Task.Delay(1000);
        IsLoading = false;
    }

    private string GetRoute()
    {
        var preffix = NavigationManager.Uri.AsSpan().IndexOf(stackalloc char[]{
            ':',
            '/',
            '/'
        });
        var startIndex = preffix == -1 ? 0 : preffix + 3;
        var endIndex = NavigationManager.Uri.AsSpan(startIndex).IndexOf('/');

        var route = endIndex == -1
            ? NavigationManager.Uri.AsSpan(startIndex)
            : NavigationManager.Uri.AsSpan(endIndex + startIndex);

        return route.ToString();
    }


}