@page "/login"
@using TimeShit.WebAssembly.Shared.Models

@inject NavigationManager NavigationManager
@inject IRefitClient _regitClient;
@inject HostAuthenticationStateProvider AuthenticationStateProvider;

<div class="w-100 justify-content-center flex-column align-items-center">
    <div class="wrapper justify-content-center flex-column">
        <h3>Login: </h3>
        <Form Model="@loginModel"
              OnFinish="HandleValidSubmit"
              LabelColSpan="8"
              WrapperColSpan="16"
              Loading="IsLoading">
            <div class="d-flex align-items-end justify-content-end">
                <Tooltip Title="Use email with your domain {at}notino.com">
                    <a href="#HELP" Style="margin: 0 8px">
                        Need Help?
                    </a>
                </Tooltip>
            </div>
            <FormItem Label="Email">
                <Input id="email" @bind-Value="@context.Username"/>
            </FormItem>
            <FormItem Label="Password">
                <InputPassword id="password" @bind-Value="@context.Password"/>
            </FormItem>
            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Login
                </Button>
            </FormItem>
            @if (ErrorMessage is not null)
            {
                <div class="alert alert-danger" role="alert">
                    @ErrorMessage
                </div>
            }
        </Form>
    </div>
</div>

<style>
    .loading {
        text-align: center;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
    
    .wrapper {
        max-width: 400px;
        margin: 20px auto;
    }
</style>

@code {
    private LoginModel loginModel = new();
    public string ErrorMessage { get; set; }
    public bool IsLoading { get; set; } = false;

    private async Task HandleValidSubmit()
    {
        IsLoading = true;
        var response = await _regitClient.Login(loginModel: loginModel);
        if (response.IsSuccessStatusCode)
        {
            ErrorMessage = string.Empty;
            NavigationManager.NavigateTo("/time", true);
            await Task.Delay(1000);
        }
        else
        {
            ErrorMessage = "Invalid login.";
        }

        IsLoading = false;
    }

}